body {
    background-color: #f2e3bc;
    padding-top: 70.15px; /* pushes the top of the header down under fixed navbar */
}

h1 {
    color: #56351e;
    text-align: center;
}

/* Navbar */
#navbar {
    background-color: #c47335;
}

#navbar .navbar-brand{
    color: #f2e3bc;
    font-size: 1.6rem;
    display: none;
}

#navbar .logo {
    width: 30px;
    margin-right: 6px;
}

.navbar-nav > .nav-item .nav-link a:hover {
    color: #c3151b;
}

/* Post content */
.post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body {
    min-height: 17rem;
}

.card-body .metadata {
    font-size: smaller;
    line-height: 55%;
}

.card-body .scrapbook-link {
    bottom: 0.8rem;
    padding: 0.5rem 1rem;
}

/* Footer */
#footer {
    background-color: #56351e;
    color: white;
    padding: 1.2rem 0;
}

#footer h2 {
    color: white;
    font-size: 1.2rem;
}

#footer .sub-heading-color {
    color:  #f2e3bc;
    font-size: 0.8rem;
    padding-top: 3px;
}

#footer i {
    color: #c47335;
    font-size: 1.2rem;
    margin-right: 15px;
}

#footer .social-links i {
    color: #c47335;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

#footer .social-links i:hover {
    color: #c3151b;
}

@media (min-width: 234px) {
    #navbar .navbar-brand {
        display: block;
    }
}

@media (min-width: 767px) {
    .card-body {
        min-height: 22rem;
    }
}

@media (min-width: 992px) {
    .card-body {
        min-height: 17rem;
    }
}