@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Lucida Sans Unicode", sans-serif;
    background-color: #f7f7de;
    padding-top: 70.15px; /* pushes the top of the header down under fixed navbar */
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: 'Philosopher', sans-serif, 'Open Sans', sans-serif;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    color: #56351e;
}

#subtitle {
    margin-top: -0.5rem;
    margin-bottom: 0.3rem;
}

/* button style for most buttons */
.btn {
    background-color: #2660a4;
    border: none;
    color: white;
}

/* Navbar */
#navbar {
    background-color: #c47335;
}

#navbar .navbar-brand{
    display: none;
}

#navbar .logo {
    width: 30px;
    margin-right: 6px;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

#msg {
    color: #56351e;
}

/* Scrapbook and Post content */
.post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.linked-title {
    color: #174f11;
    text-decoration: none;
}

.card-body > a:hover {
    color: #c47335;
}

.post-card-body {
    min-height: 17rem;
}

.card-body .metadata {
    font-size: 0.8rem;
}

.card-body .scrapbook-link {
    bottom: 0.8rem;
    padding: 0.5rem 1rem;
}

.card-text {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

/* Create/Edit Form */
#image-preview-container {
    max-width: 397.33px;
}

#image-preview-container img {
    width: 100%;
    height: auto;
}

#updateButton {
    display: none;
}

/* Footer */
#footer {
    background-color: #56351e;
    color: white;
    padding: 1.2rem 0;
}

#footer h2 {
    color: white;
    font-size: 1.2rem;
}

#footer .sub-heading-color {
    color:  #f2e3bc;
    font-size: 0.8rem;
    padding-top: 3px;
}

#footer i {
    color: #c47335;
    font-size: 1.2rem;
    margin-right: 15px;
}

#footer .social-links i {
    color: #c47335;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

#footer .social-links i:hover {
    color: #f2e3bc;
}

/* Media query: small phones (332px and up) */
@media screen and (min-width:332px) {
    #navbar .navbar-brand {
        display: block;
    }
}


/* Media query: tablets and medium devices (768px and up) */
@media screen and (min-width: 768px) {
    .post-card-body {
        min-height: 22rem;
    }
}
/* Media query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    .post-card-body {
        min-height: 17rem;
    }
}