@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Lucida Sans Unicode", sans-serif;
    background-color: #f7f7de;
    padding-top: 70.15px; /* pushes the top of the header down under fixed navbar */
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: 'Philosopher', sans-serif, 'Open Sans', sans-serif;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    color: #56351e;
}

#subtitle {
    margin-top: -0.5rem;
    margin-bottom: 0.3rem;
}

/* button style for most buttons */
.btn {
    background-color: #2660a4;
    border: none;
    color: white;
}

/* Navbar */
#navbar {
    background-color: #a15317;
}

#navbar .navbar-brand{
    display: none;
}

.header .navbar-nav .nav-link {
    color: #ffffff;
    }

.header .navbar-nav .nav-link:hover {
    color: #ffffa7;
    transition: color 0.2s ease-in-out;
}

.header .navbar-nav .active {
    color: #ffffa7;
}

.header .navbar-nav .active:hover, .header .navbar-nav .active:active {
    color: #ffffa7;
}

#navbar .logo {
    width: 20px;
    margin-right: 6px;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

#msg {
    color: #56351e;
    background-color: #ffffa7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.move-up {
    position: relative; 
    top: -8px;
}

.with-backbtn {
    position: relative; 
    top: -45px;
}

/* Hero section */
.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(188, 183, 183, 0.5)), url('/static/images/placeholder.jpg');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #56351e;
    font-size: 1.8rem;
    text-align: right;
    padding: 4rem 0;
}

.hero h1 {
    color: #174f11;
}

/* Testimonials */
.testimonials {
    background-color: #174f11;
    padding: 2rem 0;
    margin-top: -4rem;
    margin-bottom: 3rem;
}

.testimonials h2 {
    color:#f7f7de;
}

.testimonial {
    background-color: #174f11;
    padding: 2rem 0;
    margin-top: -4rem;
}

.testimonial-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.testimonial-quote {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    color: #ffffff;
    margin: 1.2rem;
}

/* Scrapbook and Post content */
.post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* Disabled link title */
.card-title {
    color: #797878;
}

/* Active link title */
.linked-title {
    color: #174f11;
    text-decoration: none;
}

.linked-title:hover {
    color: #a15317;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.card-body > a:hover {
    color: #a15317;
}

.card {
    min-height: 30rem;
}

.card-body .date-time {
    color: #797878;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.card-body .scrapbook-link {
    bottom: 0.8rem;
    padding: 0.5rem 1rem;
} 

.card-text {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

/* Pagination buttons */
.page-link {
    color: #56351e;
    text-transform:lowercase;
    text-decoration: none;
}

.page-link:hover, .page-link:focus {
    color: #df6305;
    text-decoration: none;
}




/* Post Detail page */
#post-image {
    width: 80%;
    min-width: 50vw;
    object-fit: cover;
}

#post-content {
    margin: 0.5rem;
    font-size: calc(1rem + 0.5vw);
}

/* Create/Edit Form */
#image-preview-container {
    max-width: 397.33px;
}

#image-preview-container img {
    width: 100%;
    height: auto;
}

#updateButton {
    display: none;
}

/* Footer */
#footer {
    background-color: #56351e;
    color: white;
    padding: 1.2rem 0;
}

#footer h2 {
    color: white;
    font-size: 1.2rem;
}

#footer .sub-heading-color {
    color:  #f2e3bc;
    font-size: 0.8rem;
    padding-top: 3px;
}

#footer i {
    color: #c47335;
    font-size: 1.2rem;
    margin-right: 15px;
}

#footer .social-links i {
    color: #c47335;
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
}

#footer .social-links i:hover {
    color: #f2e3bc;
}

/* Media query: small phones (332px and up) */
@media screen and (min-width:332px) {
    #navbar .navbar-brand {
        display: block;
    }
}


/* Media query: tablets and medium devices (768px and up) */
@media screen and (min-width: 768px) {
    .post-card-body {
        min-height: 22rem;
    }

    .card {
        min-height: 31rem;
    }

}
/* Media query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    .post-card-body {
        min-height: 17rem;
    }

    #post-image {
        width: 750px;
    }

    .card {
        min-height: 30rem;
    }
}

/* Media query: larger screens (1400px and up) */
@media screen and (min-width: 1400px) {
    .card {
        min-height: 33rem;
    }
}
