body {
    background-color: #f2e3bc;
    padding-top: 57.15px; /* pushes the top of the header down under fixed navbar */
}
/* Navbar */
#navbar {
    background-color: #c47335;
}


h1 {
    color: #56351e;
    text-align: center;
}

/* Post content */
.post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/* Footer */
#footer {
    background-color: #56351e;
    color: white;
    padding: 1.2rem 0;
}

#footer h2 {
    color: white;
    font-size: 1.2rem;
}

#footer .sub-heading-color {
    color:  #f2e3bc;
    font-size: 0.8rem;
}

#footer i {
    color: #c47335;
    font-size: 1.2rem;
    margin-right: 15px;
}

#footer .social-links i {
    color: #c47335;
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: #c3151b;
}